@font-face {
    font-family: 'TTNorms-Light';
    src: url('../fonts/TTNorms-Light.otf') format('openType');
}

@font-face {
    font-family: 'TTNorms-Medium';
    src: url('../fonts/TTNorms-Medium.otf') format('openType');
}

@font-face {
    font-family: 'TTNorms-Regular';
    src: url('../fonts/TTNorms-Regular.otf') format('openType');
}

@font-face {
    font-family: 'Times-Roman-Italic';
    src: url('../fonts/Times-new-roman-italic.ttf') format('truetype');
}

/* -----------------Normalize Css------------------- */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

/* button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
} */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    /* -webkit-appearance: textfield; */
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* ----------------Start Project------------------ */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'TTNorms-Regular';
}

/* ----------------Header top------------------ */
.container {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav {
    display: flex;
    align-items: center;
    gap: 45px;
}

.menu {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 1.5rem;
}

.menu__link {
    text-decoration: none;
    color: #081d43;
}

.btn-contact_link {
    background-color: #0050c8;
    text-decoration: none;
    padding: .8rem 1.5em;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    color: #fff;
}

.menu__icon {
    display: none;
    cursor: pointer;
    font-size: 1.3rem;
}

/* ----------------Header Bottom------------------ */

.header-bottom {
    margin-top: 4rem;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content__left {
    flex-basis: 50%;
}

.header-content__right {
    flex-basis: 50%;
    text-align: center;
}

.header-content__wrapper {
    max-width: 28rem;
}

.header-content__title {
    font-family: 'TTNorms-Medium';
    font-weight: normal;
    color: #081d43;
}

.header-content__text {
    line-height: 1.7rem;
    text-align: justify;
}

.header-content__btns {
    display: flex;
    gap: .7rem;
    margin-top: 2.5rem;
}

.header-content__link {
    width: 10rem;
    text-decoration: none;
    color: #fff;
    padding: .8rem 1.8rem;
    background-color: #0050c8;
    display: block;
    text-align: center;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.header-content__link:nth-child(1) {
    background-color: #87bc25;
}

.header-content__img {
    width: 100%;
}

/* -------------Work Section----------------- */

.main {
    padding-top: 5rem;
}

.works {
    padding-bottom: 5rem;
}

.works__text,
.portfolio__text {
    text-align: center;
    margin: 0;
    color: #6C7890;
}

.works__title,
.portfolio__title {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 1.8rem;
    color: #081d43;
    margin-top: 1rem;
    font-family: 'TTNorms-Medium';
    font-weight: normal;
}

.works-content {
    display: flex;
    justify-content: space-around;
    margin: 2.5rem 0;
    flex-wrap: wrap;
}

.works-content__item {
    text-align: center;
}

.works-content-item__title {
    color: #081d43;
}

.works-content-item__text {
    max-width: 16rem;
    line-height: 2rem;
    color: #6C7890;
    margin: 0 auto;
}

.works-img {
    margin: 0 auto;
    max-width: 31rem;
}

.works-img__img {
    width: 100%;
}

/* --------------comments section--------------- */

.section-comments {
    background-color: #2F5BEA;
    color: #fff;
    padding: 5rem 0;
}

.section-comments__title {
    font-size: 1.8rem;
    font-family: 'TTNorms-Medium';
    font-weight: normal;
    text-align: center;
    margin-top: 0;
}

.section-comments__text {
    font-family: 'TTNorms-Light';
    max-width: 29rem;
    margin: 2rem auto;
    line-height: 2rem;
    text-align: center;
}

.comments-container {
    max-width: 65rem;
    margin: 0 auto;
}

.section-comments__item {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 6rem 1rem;
}

.comments-item__body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-basis: 20rem;
    justify-content: space-between;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    min-height: 18rem;
}

.comments-item__content {
    color: #7E8085;
    font-family: 'Times-Roman-Italic';
    line-height: 1.5rem;
    padding: 1.2rem;
    text-align: justify;
}

.comments-item__info {
    display: flex;
    align-items: center;
    padding: .8rem 1.2rem;
    border-top: 1px solid #E8EBEF;
}

.comments-item__person {
    color: #000;
    margin: 0;
}

.companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.companies__img {
    display: block;
    margin: 1rem;
}

/* ----------------portfolio----------------- */

.portfolio {
    padding: 5rem 0;
}

.portfolio__text {
    text-transform: uppercase;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-items__img {
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    flex-basis: 23rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
/* img:not(i){
    filter: blur(.1rem);
    -webkit-filter: blur(.1rem);
} */
/* .portfolio-items__img:hover{
    filter: blur(.1rem);
    -webkit-filter: blur(.1rem);
} */

.portfolio-items__img figure {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.portfolio-items__img figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    padding-top: 17%;
    text-align: center;
    font-size: large;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}

.portfolio-items__img figcaption:hover {
    background-color: rgba(58, 95, 187, 0.4);
}

.portfolio-items__img figcaption a {
    margin-left: .5rem;
}

.portfolio-items__img figcaption i {
    color: #000;
    background-color: #fff;
    padding: .4rem;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
    opacity: 0;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.portfolio-items__img figcaption:hover i {
    opacity: 1;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.portfolio-items__img figcaption:hover i:hover {
    color: #ff0000;
}

.portfolio__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .portfolio__image:hover{
    filter: blur(.2rem);
    -webkit-filter: blur(.2rem);
} */

/* ----------------footer-------------------- */

.newsletter {
    background-color: #2C57E4;
}

.newsletter__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7rem 0;
    flex-wrap: wrap;
}

.newsletter__text {
    color: #fff;
    font-weight: normal;
    margin: 0;
}

.newsletter-email {
    padding: 0.3rem 0.3rem 0.3rem 1.5rem;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
    flex-basis: 22rem;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.newsletter-email__textbox {
    border: 0;
    outline: 0;
    width: 100%;
}

.newsletter-email__btn {
    background: #2F5BEA;
    padding: 1rem 1.3rem;
    border-radius: 0.3rem;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* ----------------Copy right---------------- */

.copyright {
    padding: 2rem 0;
}

.copyright-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.copyright__text {
    color: #6C7890;
    margin: 0;
}

/* ----------------Responsive---------------- */

@media only screen and (max-width:1200px) {
    .container {
        max-width: 960px;
    }

    .portfolio-items__img {
        flex-basis: 28rem;
    }
}

@media only screen and (max-width:992px) {
    .container {
        max-width: 720px;
    }

    .btn-contact_link {
        display: none;
    }

    .header-bottom {
        margin-top: 2rem;
    }

    .header-content {
        flex-direction: column-reverse;
    }

    .header-content__right {
        margin-bottom: 1.5rem;
    }

    .header-content__wrapper {
        max-width: 100%;
    }

    .section-comments__item {
        flex-wrap: wrap;
    }

    .comments-item__body {
        flex-basis: 19rem;
    }

    .companies {
        justify-content: center;
    }

    .portfolio-items__img {
        flex-basis: 21rem;
    }

    .newsletter__text {
        max-width: 21rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width:768px) {
    .container {
        max-width: 540px;
    }

    .menu {
        width: 13rem;
        background: #081d43;
        position: fixed;
        top: 0;
        left: -208px;
        bottom: 0;
        flex-direction: column;
        padding: 2rem 1.3rem;
        margin: 0;
        transition: .3s all ease;
        -webkit-transition: .3s all ease;
        -moz-transition: .3s all ease;
        -ms-transition: .3s all ease;
        -o-transition: .3s all ease;
    }

    .menu__link {
        color: #fff;
    }

    .menu__icon {
        display: block;
    }

    .works-content__item {
        flex-basis: 14rem;
        flex-shrink: 0;
    }

    .section-comments__item {
        margin: 3.5rem 1rem;
    }

    .comments-item__body {
        flex-basis: 100%;
    }

    .portfolio-items__img {
        flex-basis: 100%;
    }

    .newsletter__text {
        max-width: 100%;
    }

    .newsletter-email {
        flex-basis: 100%;
    }
}

@media only screen and (max-width:576px) {
    .container {
        max-width: 100vw;
    }

    .works-content__item {
        flex-basis: 14rem;
        flex-shrink: 0;
    }

    .newsletter__wrapper {
        padding: 4rem 0;
    }

    .copyright {
        padding: 1rem 0;
    }

    .copyright__text {
        margin: .5rem 0;
    }
}

@media only screen and (max-width:372px) {
    .container {
        max-width: 100%;
        margin: 0 auto;
    }

    .header-content__btns {
        flex-wrap: wrap;
        justify-content: center;
    }

    .works-content__item {
        flex-basis: 100%;
    }

    .newsletter-email__btn {
        padding: 0.7rem 1rem;

    }

    .newsletter-email {
        padding: .3rem .3rem .3rem .5rem;
        gap: 0;
    }

    .newsletter-email__textbox {
        width: auto;
    }
}